<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/login.css">

</head>
<body>
<header>
    <a href="../static/img/logo2.png">
    <img class="logo" src="../static/img/logo2.png" alt="logo">
    </a>
</header>
<div class="container">
    <img src="../static/img/man.png">
    <form action="website.html">
        <div class="form-input">
            <input type="text" name="username"
            placeholder="Enter Username" required>
        </div>
        <div class="form-input">
            <input type="password" name="password"
            placeholder=" Enter Password" required>
        </div>
            <input type="submit" class="btn-login" value="LOGIN" > <br>
            <a href="#">Forget password?</a>

    </form>
</div>

</body>
</html>